.home, form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

input{
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 25px;
}

button{
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.informations{
    margin-left: 10%;
    position: absolute;
    top: 20px;
    left: 20%;
    font-size: 20px;
    display: flex;
    border-bottom: 2px solid oldlace;
    padding-bottom: 5px;
}

.informations>div{
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
}


.timer{
    background: none !important;
    margin-left: 25px;
}